# Warn about connection exceptions
Ice.Warn.Connections=1

# Active Connection Management
#Ice.ACM.Server=60

# Network Tracing
# 0 = no network tracing
# 1 = trace connection establishment and closure
# 2 = like 1, but more detailed
# 3 = like 2, but also trace data transfer
#
#Ice.Trace.Network=3

# Protocol Tracing
# 0 = no protocol tracing
# 1 = trace protocol messages
#
#Ice.Trace.Protocol=1

# Security Tracing
# 0 = no security tracing
# 1 = trace messages
#
IceSSL.Trace.Security=1

# SSL Configuration
Ice.Plugin.IceSSL=IceSSL:createIceSSL
IceSSL.Ciphers=KRB5
IceSSL.ServiceHost=server.saratov.etersoft.ru
IceSSL.ServiceName=host
IceSSL.Keytab=/etc/krb5.keytab

# Threads Configuration
Ice.ThreadPool.Server.SizeMax=10
Ice.ThreadPool.Server.SizeWarn=5

# SysDB Configuration
#Tartarus.SysDB.UserManagerPrx=UserReader@SysDB
#Tartarus.SysDB.GroupManagerPrx=GroupReader@SysDB
Tartarus.SysDB.UserReaderPrx=SysDB-Manager/Users:ssl -p 12345
Tartarus.SysDB.GroupReaderPrx=SysDB-Manager/Groups:ssl -p 12345

# NSCD Configuration
TartarusNSCD.Endpoints=tcp -p 12346 -h localhost
Tartarus.NSCD.UserReaderPrx=UserReader:tcp -p 12346 -h localhost
Tartarus.NSCD.GroupReaderPrx=GroupReader:tcp -p 12346 -h localhost
